@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
html {
  box-sizing: border-box;
  background-color: #000000;
}
html *, html *:after, html *:before {
  box-sizing: border-box;
}

#loadingCard {
  height: 35px;
  width: 337px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#brain {
  margin-bottom: -40px;
}

.stagger {
  opacity: 0;
  display: none;
}

.title {
  text-align: center;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
}

.cover {
  height: 100%;
  width: 0;
  background-color: #000000;
  margin: 0;
  position: relative;
  z-index: 1;
}

.content {
  display: block;
  width: 337px;
  padding: .5em 2em;
  font-family: 'Droid Serif', serif;
  color: #2E3846;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: scroll;
  height: 100%;
  z-index: 0;
  line-height: 1.4;
  background-color: #e1e1e1;
  -webkit-transform: perspective(337px);
          transform: perspective(337px);
}
.content a {
  color: #245598;
}
